

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f9fc;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  background-image: url('./shopbags.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.title {
  flex: 1;
  text-align: center;
  margin-right: 0px;
}

.title h1 {
  font-size: 2.5em;
  color: #333;
}

.title p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.5;
}

.separator {
  width: 10px;
  background-color: #312c2c;
  height: 400px;
  margin-left: 0px;
  margin-right: 0px;
}

.form-container {
  flex: 1;
  margin-left: -10%;
}



button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

span p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group label {
  margin-right: 10px;
  min-width: 100px;
  text-align: right;
}

form input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

form button {
  width: 30%;
  max-width: 300px;

}